body {
  background-color: #000;
}
.main-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
.main a:hover {
  transform: scale(1.2);
  transition: .2s all ease-in-out;
}
